<h1 class="mb-4">Edit Profile</h1><hr/>
<div class="article">
    <div class="card-body bg-light text-dark col-lg-5 col-md-5 col-sm-5 px-md-4">
        <%= form_with model: @user, class:"p-2" do |f| %>
        
            <div class="mb-3 row">
                <%= f.label "Email", class: "col-sm-2 col-form-label" %><br/>
                    <div class="col-sm-10">
                        <%= f.email_field :email, required: true, minlegth: 7, value:"#{current_user.email}",  placeholder: "example@email.com", class: "form-control" %>
                    </div>
            </div>

            <div class="mb-3 row"> 
                <%= f.label "Name", class: "col-sm-2 col-form-label" %><br/>
                <div class="col-sm-10">
                    <%= f.text_field :name, required: true, minlegth: 2, value:"#{current_user.name}", placeholder: "Jpyatachkov", class: "form-control" %>
                </div>
            </div>

            <div class="mb-3 row"> 
                <%= f.label "Surname", class: "col-sm-2 col-form-label" %><br/>
                <div class="col-sm-10">
                    <%= f.text_field :surname, required: true, minlegth: 5, value: "#{current_user.surname}", placeholder: "", class: "form-control" %>
                </div>
            </div>

            <div class="mb-3 row"> 
                <%= f.label "Information", class: "col-sm-2 col-form-label" %><br/>
                <div class="col-sm-10">
                    <%= f.text_area :information, required: true, minlegth: 2, value: "#{current_user.information}", placeholder: "", class: "form-control" %>
                </div>
            </div>
            <div class="mb-3 row"> 
                <%= f.label "Password", class: "col-sm-2 col-form-label" %><br/>
                <div class="col-sm-10">
                    <%= f.password_field :password, required: true, minlegth: 4,  class: "form-control" %>
                </div>
            </div>
            <div class="mb-3 row"> 
                <%= f.label "Confirmation password", class: "col-sm-2 col-form-label" %><br/>
                <div class="col-sm-10">
                    <%= f.password_field :password_confirmation, required: true, minlegth: 4, class: "form-control" %>
                </div>
            </div>
      <%= f.submit "Submit", class: "btn btn-success mb-2" %>
        <% end %>
    </div>
</div>
