%h1.mb-4 Edit Profile
%hr
.article
    .card-body.bg-light.text-dark.col-lg-5.col-md-5.col-sm-5px-md-4
        = form_with model: @user, class:"p-2" do |f| 
        
            .mb-3.row
                = f.label "Email", class: "col-sm-2 col-form-label" 
                %br
                    .col-sm-10
                        = f.email_field :email, required: true, minlength: 6, value:"#{current_user.email}",  placeholder: "example@email.com", class: "form-control"

            .mb-3.row
                = f.label "Name", class: "col-sm-2 col-form-label"
                %br
                .col-sm-10
                    = f.text_field :name, required: true, minlength: 2, value:"#{current_user.name}", placeholder: "Jpyatachkov", class: "form-control"

            .mb-3.row
                = f.label "Surname", class: "col-sm-2 col-form-label"
                %br
                .col-sm-10
                    = f.text_field :surname, required: true, minlength: 2, value: "#{current_user.surname}", placeholder: "", class: "form-control"

            .mb-3.row
                = f.label "Information", class: "col-sm-2 col-form-label"
                %br
                .col-sm-10
                    = f.text_area :information, required: true, minlength: 2, value: "#{current_user.information}", placeholder: "", class: "form-control"

            .mb-3.row
                = f.label "Password", class: "col-sm-2 col-form-label"
                %br
                .col-sm-10
                    = f.password_field :password, required: true, minlength: 4,  class: "form-control"


            .mb-3.row
                = f.label "Confirmation password", class: "col-sm-2 col-form-label"
                %br
                .col-sm-10
                    = f.password_field :password_confirmation, required: true, minlength: 4, class: "form-control"
            = f.submit "Submit", class: "btn btn-success mb-2"
