%h1 Matches
- @matches.each do |match|
    %span{:hidden => "until-found"}
        = user = match.users.reject { |user| user == current_user}.first
    .my-3.p-3.bg-body.rounded.shadow-sm
        %h1
            = link_to "#{user.name} #{user.surname}", match_path(match), class: "btn btn-light text-dark me-2"
        .d-flex.text-muted.pt-3
            %svg.bd-placeholder-img.flex-shrink-0.me-2.rounded{"aria-label" => "Placeholder: 32x32", :focusable => "false", :height => "32", :preserveaspectratio => "xMidYMid slice", :role => "img", :width => "32", :xmlns => "http://www.w3.org/2000/svg"}
                %title Placeholder
                %rect{:fill => "#007bff", :height => "100%", :width => "100%"}
                %text{:dy => ".3em", :fill => "#007bff", :x => "50%", :y => "50%"} 32x32


            .pb-3.mb-0.small.lh-sm.border-bottom.w-100
                .d-flex.justify-content-between
                    %span.d-block= "@#{user.name} #{user.surname}"
                    %hr
                %pre= user.information

