<h1>Match</h1>
    <hr/>
    <% @messages.each do |message| %>
      <div>
        Name:<%= message.user.name %><br/>
        Text: <%= message.content %><br/>
      <hr/>
      </div>
      <% end %>
  
        <div class="card-body bg-dark text-white">
        <%= form_with model: [@match, @message], remote: true do |form| %>
          <div class="mb-3 row"> 
            <div class="col-sm-10">
              <%= form.text_area :content, required: true, minlegth: 4, placeholder: "What are you doing?", class: "form-control" %>
            </div>
          </div>
        <%= form.submit "Submit", class: "btn btn-success" %>
      <% end %>
        </div>
    </article>
<hr/>
