<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WriteNow</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
    </head>
    <body>
        <header class="p-3 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><%= link_to 'Home', root_path, class: "nav-link px-2 text-white"%></li>
                    </ul>
                    

                        <% if signed_in? %>
                            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                                <li><%= link_to 'Matches', matches_path, class: "nav-link px-2 text-white"%> </li>
                            </ul>
                            <div class="text-end">
                                <%= link_to "#{current_user.name}", edit_user_path(current_user), class: "btn btn-dark text-warning me-2" %>
                                <%= link_to 'log out', session_path, class: "btn btn-outline-danger me-2", 
                                data: {turbo_method: :delete, confirm: 'Are you sure you want to log out?'} %>
                            </div>
                        <% else %>
                            <div class="text-end">
                                <%= link_to 'Log in', new_session_path, class: "btn btn-outline-light me-2" %>
                                <%= link_to 'Sign up', new_user_path, class: "btn btn-warning" %>
                            </div>
                        <% end %>

                </div>
            </div>
        </header>
    
        <main class="container mt-3">
            <% flash.each do |k, v| %>
            <%= tag.div v, class: "alert alert-#{k}", role: "alert" %>
            <% end %>
            <%= yield %>
        </main>

    </body>
</html>
